repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: no-commit-to-branch
      args: ['--branch', 'master', "--branch", "main"]
-   repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
    hooks:
    -   id: absolufy-imports
        exclude: _vendor|vendored|examples|examples_with_napari
-   repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0
    hooks:
    - id: pycln
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    - id: isort
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        exclude: _vendor|vendored
-   repo: https://github.com/seddonym/import-linter
    rev: v2.9
    hooks:
    - id: import-linter
      stages: [manual]